<%= render 'header' %>

<div class="team-events">

  <% pre_date = nil %>
  <% pre_pname = nil %>
  <% @data.each do |item| %>

    <% if pre_date != item[:date] %>
      <% unless pre_date.nil? %></div></div></div><% end %>

      <div class="events-day weekend" data-absdate="2017-06-10T00:00:00+08:00">
        <h4 class="events-day-title"><%= raw(item[:show_date]) %></h4>
        <div class="events-day-content">

      <% pre_pname = nil %>
      <% pre_date = item[:date] %>
    <% end %>

    <% if pre_pname != item[:pname] %>
      <% unless pre_pname.nil? %></div><% end %>

      <div class="events-ancestor" data-ancestor-guid="bf5ca523adbf4dbaa2d64e29bdadf0cb">
        <h5 class="events-ancestor-title">
          <% if item[:pid] %>
            <a href="/projects/<%= item[:pid] %>" target="_blank" title="<%= item[:pname] %>"><%= item[:pname] %></a>
          <% else %>
            <a href="/teams/<%= @current_team.id %>" target="_blank" title="<%= @current_team.name %>"><%= @current_team.name %></a>
          <% end %>
        </h5>

      <% pre_pname = item[:pname] %>
    <% end %>

    <% if pre_date == item[:date] %>
      <div class="event event-common event-todo-del" id="event-122232001" data-ancestor-guid="bf5ca523adbf4dbaa2d64e29bdadf0cb" data-ancestor-name="熟悉 Tower" data-ancestor-url="/projects/bf5ca523adbf4dbaa2d64e29bdadf0cb">

        <a href="/members/<%= item[:uid] %>" class="from" target="_blank"><img alt="<%= item[:uname] %>" class="avatar" src="<%= item[:avatar] %>"></a>
        <i class="icon-event"></i>

        <div class="event-main">
          <div class="event-head">
            <a href="#event-122232001" data-created-at="2017-06-10T12:35:21+08:00" class="event-created-at"><%= item[:time] %></a>
            <span class="event-actor">
              <a href="/members/<%= item[:uid] %>" class="link-member" target="_blank"><%= item[:uname] %></a>
            </span>
            <span class="event-action">
              <%= item[:action] %>
            </span>
            <span class="event-text">
              <span class="emphasize">
                <a href="<%= item[:burl] %>" class="todo-rest" data-stack="true"><%= item[:bname] %></a>
              </span>
            </span>
          </div>
          <% if item[:bcontent] %>
            <div class="event-body">
              <a href="<%= item[:burl] %>" class="event-text" data-stack="true" title="<%= item[:bcontent] %>"><%= item[:bcontent] %></a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  <% end %>

</div>

<%= render 'footer' %>
